<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="es.cv.gvcase.ide.navigator.modelView">
      </viewer>
      <viewerContentBinding
            viewerId="es.cv.gvcase.ide.navigator.modelView">
         <includes>
            <contentExtension
                  pattern="es.cv.gvcase.mdt.db.navigator.SqlmodelContentProvider">
            </contentExtension>
            <contentExtension
                  pattern="es.cv.gvcase.mdt.db.navigator.filter.DiagramFilter">
            </contentExtension>
            <contentExtension
                  pattern="es.cv.gvcase.mdt.db.navigator.filter.SqlmodelFilter">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="es.cv.gvcase.mdt.db.navigator.providers.SQLContentProvider"
            id="es.cv.gvcase.mdt.db.navigator.SqlmodelContentProvider"
            labelProvider="es.cv.gvcase.mdt.db.navigator.providers.SQLContentProvider"
            name="Sql database model explorer"
            priority="normal">
         <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IWorkspaceRoot">
               </adapt>
               <adapt
                     type="es.cv.gvcase.ide.navigator.provider.NavigatorRootItem">
               </adapt>
               <adapt
                     type="es.cv.gvcase.ide.navigator.provider.NavigatorLoadedResourcesItem">
               </adapt>
               <adapt
                     type="org.eclipse.emf.ecore.EObject">
               </adapt>
               <adapt
                     type="org.eclipse.emf.ecore.resource.Resource">
               </adapt>
               <adapt
                     type="es.cv.gvcase.ide.navigator.provider.PackagingNode">
               </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <adapt
                     type="es.cv.gvcase.ide.navigator.provider.NavigatorLoadedResourcesItem">
               </adapt>
               <adapt
                     type="org.eclipse.emf.ecore.EObject">
               </adapt>
               <adapt
                     type="org.eclipse.emf.ecore.resource.Resource">
               </adapt>
               <adapt
                     type="es.cv.gvcase.ide.navigator.provider.PackagingNode">
               </adapt>
            </or>
         </possibleChildren>
         <actionProvider
               class="es.cv.gvcase.mdt.db.navigator.actions.model.CreateChildActions"
               id="es.cv.gvcase.mdt.db.navigator.actions.model.CreateChildActions">
         </actionProvider>
         <actionProvider
               class="es.cv.gvcase.mdt.db.navigator.actions.model.CreateSiblingActions"
               id="es.cv.gvcase.mdt.db.navigator.actions.model.CreateSiblingActions">
         </actionProvider>
         <actionProvider
               class="es.cv.gvcase.mdt.db.navigator.actions.model.CreateDiagramActions"
               id="es.cv.gvcase.mdt.db.navigator.actions.model.CreateDiagramActions">
         </actionProvider>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="es.cv.gvcase.mdt.db.navigator.filters.DiagramFilter"
            description="Hide internal diagram structure"
            id="es.cv.gvcase.mdt.db.navigator.filter.DiagramFilter"
            name="Diagram filter">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            class="es.cv.gvcase.mdt.db.navigator.filters.SqlmodelFilter"
            description="Hide internal Sqlmodel structure"
            id="es.cv.gvcase.mdt.db.navigator.filter.SqlmodelFilter"
            name="Sqlmodel filter">
      </commonFilter>
      <commonWizard
            associatedExtensionId="org.eclipse.ui.navigator.resourceContent"
            type="new"
            wizardId="es.cv.gvcase.mdt.db.diagram.part.SqlmodelCreationWizardID">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
               </adapt>
            </or>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="es.cv.gvcase.mdt.common.commandProviders">
      <CommandProvider
            implementationClass="es.cv.gvcase.mdt.db.navigator.providers.DbCommandProvider"
            type="org.eclipse.datatools.modelbase.sql.tables.PersistentTable">
      </CommandProvider>
   </extension>

</plugin>
