<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="es.cv.gvcase.mdt.db.properties"
            labelProvider="es.cv.gvcase.mdt.db.diagram.sheet.SqlmodelSheetLabelProvider">
         <propertyCategory
               category="domain">
         </propertyCategory>
         <propertyCategory
               category="visual">
         </propertyCategory>
         <propertyCategory
               category="extra">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="es.cv.gvcase.mdt.db.properties">
         <propertyTab
               category="domain"
               id="es.cv.gvcase.mdt.db.properties.BasicPropertyTab"
               label="Basic">
         </propertyTab>
         <propertyTab
               afterTab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab"
               category="extra"
               id="es.cv.gvcase.mdt.db.properties.RolesPropertyTab"
               label="Roles">
         </propertyTab>
         <propertyTab
               afterTab="es.cv.gvcase.mdt.db.properties.RolesPropertyTab"
               category="extra"
               id="es.cv.gvcase.mdt.db.properties.GroupsPropertyTab"
               label="Groups">
         </propertyTab>
         <propertyTab
               afterTab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab"
               category="extra"
               id="es.cv.gvcase.mdt.db.properties.GroupUsersPropertyTab"
               label="Users">
         </propertyTab>
         <propertyTab
               afterTab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab"
               category="extra"
               id="es.cv.gvcase.mdt.db.properties.RoleUsersPropertyTab"
               label="Users">
         </propertyTab>
         <propertyTab
               afterTab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab"
               category="extra"
               id="es.cv.gvcase.mdt.db.properties.ViewedColumnsPropertyTab"
               label="Viewed Columns">
         </propertyTab>
         <propertyTab
               afterTab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab"
               category="extra"
               id="es.cv.gvcase.mdt.db.properties.SourceColumnsPropertyTab"
               label="Source Columns">
         </propertyTab>
         <propertyTab
               afterTab="es.cv.gvcase.mdt.db.properties.SourceColumnsPropertyTab"
               category="extra"
               id="es.cv.gvcase.mdt.db.properties.ReferencedColumnsPropertyTab"
               label="Referenced Columns">
         </propertyTab>
         <propertyTab
               afterTab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab"
               category="extra"
               id="es.cv.gvcase.mdt.db.properties.PrimaryKeyPropertyTab"
               label="Primary Key">
         </propertyTab>
         <propertyTab
               afterTab="es.cv.gvcase.mdt.db.properties.PrimaryKeyPropertyTab"
               category="extra"
               id="es.cv.gvcase.mdt.db.properties.UniqueKeysPropertyTab"
               label="Unique Keys">
         </propertyTab>
         <propertyTab
               afterTab="es.cv.gvcase.mdt.db.properties.UniqueKeysPropertyTab"
               category="extra"
               id="es.cv.gvcase.mdt.db.properties.CheckConstraintsPropertyTab"
               label="Check Constraints">
         </propertyTab>
         <propertyTab
               afterTab="es.cv.gvcase.mdt.db.properties.CheckConstraintsPropertyTab"
               category="extra"
               id="es.cv.gvcase.mdt.db.properties.IndexesPropertyTab"
               label="Indexes">
         </propertyTab>
         <propertyTab
               afterTab="es.cv.gvcase.mdt.db.properties.IndexesPropertyTab"
               category="extra"
               id="es.cv.gvcase.mdt.db.properties.RolePrivilegesPropertyTab"
               label="Role Privileges">
         </propertyTab>
         <propertyTab
               afterTab="es.cv.gvcase.mdt.db.properties.RolePrivilegesPropertyTab"
               category="extra"
               id="es.cv.gvcase.mdt.db.properties.UserPrivilegesPropertyTab"
               label="User Privileges">
         </propertyTab>
         <propertyTab
               afterTab="es.cv.gvcase.mdt.db.properties.UserPrivilegesPropertyTab"
               category="extra"
               id="es.cv.gvcase.mdt.db.properties.GroupPrivilegesPropertyTab"
               label="Group Privileges">
         </propertyTab>
         <propertyTab
               afterTab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab"
               category="extra"
               id="es.cv.gvcase.mdt.db.properties.GrantedPrivilegesPropertyTab"
               label="Granted Privileges">
         </propertyTab>
         <propertyTab
               category="visual"
               id="property.tab.AppearancePropertySection"
               label="Appearance">
         </propertyTab>
         <propertyTab
               category="visual"
               id="property.tab.DiagramPropertySection"
               label="Rulers &amp; Grid">
         </propertyTab>
         <propertyTab
               afterTab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab"
               category="domain"
               id="property.tab.domain"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="es.cv.gvcase.mdt.db.properties">
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.NamePropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.RoleChooserPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.RoleChooserFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.RoleChooserPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               class="es.cv.gvcase.mdt.db.properties.sections.RolesPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.UserFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.RolesPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.RolesPropertyTab">
         </propertySection>
         <propertySection
               class="es.cv.gvcase.mdt.db.properties.sections.GroupsPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.UserFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.GroupsPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.GroupsPropertyTab">
         </propertySection>
         <propertySection
               class="es.cv.gvcase.mdt.db.properties.sections.GroupUsersPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.GroupFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.GroupUsersPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.GroupUsersPropertyTab">
         </propertySection>
         <propertySection
               class="es.cv.gvcase.mdt.db.properties.sections.RoleUsersPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.RoleFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.RoleUsersPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.RoleUsersPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.PrivilegeNamePropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.ObjectChooserPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.PrivilegeFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.ObjectChooserPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.NamePropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.SQLPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.SQLFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.SQLPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.NamePropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.MembersPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.MembersFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.MembersPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.NamePropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.NullablePropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.ColumnFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.NullablePropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.NullablePropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.DefaultValuePropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.ColumnFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.DefaultValuePropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.DescriptionPropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.ColumnDataTypePropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.ColumnFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.ColumnDataTypePropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.ColumnDataTypePropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.ColumnSequencePropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.ColumnFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.ColumnSequencePropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.NamePropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.OnUpdatePropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.ForeignKeyFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.OnUpdatePropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.OnUpdatePropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.OnDeletePropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.ForeignKeyFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.OnDeletePropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.OnDeletePropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.RefTablePropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.ForeignKeyFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.RefTablePropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.GeneratedPropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.QueryExpressionPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.ViewTableFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.QueryExpressionPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.GeneratedPropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.DescriptionPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.DescriptionFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.DescriptionPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.NamePropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.GeneratedPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.GeneratedFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.GeneratedPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.NamePropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.IncrementTypePropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.IndexMemberFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.IncrementTypePropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.NamePropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.DataTypePropertiesPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.DataTypeFilter"
               id="es.cv.gvcase.mdt.db.properties.DataTypePropertiesPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.IncrementTypePropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.ColumnPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.IndexMemberFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.ColumnPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.ColumnPropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.ColumnTypePropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.IndexMemberFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.ColumnTypePropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.TablePropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.IndexExpressionPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.IndexFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.IndexExpressionPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.NamePropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.TablePropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.IndexFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.TablePropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               class="es.cv.gvcase.mdt.db.properties.sections.ViewedColumnsPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.ViewTableFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.ViewedColumnsPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.ViewedColumnsPropertyTab">
         </propertySection>
         <propertySection
               class="es.cv.gvcase.mdt.db.properties.sections.SourceColumnsPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.ForeignKeyFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.SourceColumnsPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.SourceColumnsPropertyTab">
         </propertySection>
         <propertySection
               class="es.cv.gvcase.mdt.db.properties.sections.RefColumnsConstraintPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.ForeignKeyFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.RefColumnsConstraintPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.ReferencedColumnsPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.RefColumnsConstraintPropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.RefColumnsMembersPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.ForeignKeyFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.RefColumnsMembersPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.ReferencedColumnsPropertyTab">
         </propertySection>
         <propertySection
               class="es.cv.gvcase.mdt.db.properties.sections.PrimaryKeyPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.PersistentTableFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.PrimaryKeyPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.PrimaryKeyPropertyTab">
         </propertySection>
         <propertySection
               class="es.cv.gvcase.mdt.db.properties.sections.UniqueKeysPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.PersistentTableFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.UniqueKeysPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.UniqueKeysPropertyTab">
         </propertySection>
         <propertySection
               class="es.cv.gvcase.mdt.db.properties.sections.CheckConstraintsPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.PersistentTableFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.CheckConstraintsPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.CheckConstraintsPropertyTab">
         </propertySection>
         <propertySection
               class="es.cv.gvcase.mdt.db.properties.sections.IndexesPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.PersistentTableFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.IndexesPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.IndexesPropertyTab">
         </propertySection>
         <propertySection
               class="es.cv.gvcase.mdt.db.properties.sections.RolePrivilegesPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.PrivilegesFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.RolePrivilegesPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.RolePrivilegesPropertyTab">
         </propertySection>
         <propertySection
               class="es.cv.gvcase.mdt.db.properties.sections.UserPrivilegesPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.PrivilegesFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.UserPrivilegesPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.UserPrivilegesPropertyTab">
         </propertySection>
         <propertySection
               class="es.cv.gvcase.mdt.db.properties.sections.GroupPrivilegesPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.PrivilegesFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.GroupPrivilegesPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.GroupPrivilegesPropertyTab">
         </propertySection>
         <propertySection
               class="es.cv.gvcase.mdt.db.properties.sections.GrantedPrivilegesPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.AuthorizationIdentifierFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.GrantedPrivilegesPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.GrantedPrivilegesPropertyTab">
         </propertySection>
         <propertySection
               class="es.cv.gvcase.mdt.db.properties.sections.NamePropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.NameFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.NamePropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               class="es.cv.gvcase.mdt.db.properties.sections.PrivilegeNamePropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.PrivilegeFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.PrivilegeNamePropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               class="es.cv.gvcase.mdt.db.properties.sections.DiagramNamePropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.DiagramFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.DiagramNamePropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.NamePropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.SequenceDetailsPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.SequenceFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.SequenceDetailsPropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter"
               id="property.section.ConnectorAppearancePropertySection"
               tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection
               class="es.cv.gvcase.mdt.common.sections.ShapeColorsAndFontsPropertySectionEx"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter"
               id="property.section.ShapeColorAndFontPropertySection"
               tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection
               class="es.cv.gvcase.mdt.common.sections.DiagramColorsAndFontsPropertySectionEx"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter"
               id="property.section.DiagramColorsAndFontsPropertySection"
               tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection
               class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection"
               filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter"
               id="property.section.RulerGridPropertySection"
               tab="property.tab.DiagramPropertySection">
         </propertySection>
         <propertySection
               class="es.cv.gvcase.mdt.db.properties.sections.SqlmodelPropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.DomainFilter"
               id="property.section.domain"
               tab="property.tab.domain">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.TablePropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.IndexUniquePropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.IndexFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.IndexUniquePropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.NamePropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.ViewCheckTypeSection"
               filter="es.cv.gvcase.mdt.db.properties.filters.ViewTableFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.ViewCheckTypeSection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.ViewCheckTypeSection"
               class="es.cv.gvcase.mdt.db.properties.sections.ViewSelfRefColumnGenerationSection"
               filter="es.cv.gvcase.mdt.db.properties.filters.ViewTableFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.ViewSelfRefColumnSection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.DescriptionPropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.extended.ExternalTableExtendedSection"
               filter="es.cv.gvcase.mdt.db.properties.filters.TableFilter"
               id="es.cv.gvcase.mdt.db.properties.Table.ExternalElement"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
         <propertySection
               afterSection="es.cv.gvcase.mdt.db.properties.sections.DescriptionPropertySection"
               class="es.cv.gvcase.mdt.db.properties.sections.PersistentTable_PrimaryKey_Name_PropertySection"
               filter="es.cv.gvcase.mdt.db.properties.filters.BaseTableFilter"
               id="es.cv.gvcase.mdt.db.properties.sections.PersistentTable_PrimaryKey_Name_PropertySection"
               tab="es.cv.gvcase.mdt.db.properties.BasicPropertyTab">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
